@using GridMvc.Html
@model IEnumerable<Application.Grid>
@{
    ViewBag.Title = "Grid";
}

<script src="~/Scripts/Icons.js"></script>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>

<script type="text/javascript">
    function onDdlPageChange(sender) {
        $("#formIdHere").submit();
    }
</script>
<a href="#" id="search">click</a>
<div id="dataDiv">
    @{ Html.RenderAction("Search", "Grids");}
</div>


@*<script>
    $('#search').on('click', function () {
        $.ajax({
            type: "GET",
            url: '/Grids/Search',
            success: function (data) {
                $('#dataDiv').html(data);
            }
        });
    });
</script>*@